/*-------------
Body
--------------*/

.article-body img {
  max-width: 100%;
}

/*-------------
Header
--------------*/

.site-header {
  background: #FFEAAA;
}

.icon-menu {
    font-size: 50px;
}

/*-------------
Navigation
--------------*/

/*-------------
Footer
--------------*/

/*-------------
Link Styles
--------------*/
a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}