/*-------------
Fonts
--------------*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans|Rubik');
@import url('https://fonts.googleapis.com/css?family=Arvo:400');

/*-------------
Body
--------------*/
body {
  width: 100%;
  margin: 0px auto;
}

h1 {
  font-family: 'Arvo';
}

h2 {
  font-family: 'Arvo';
  border-bottom: 1px dashed #00B7AB;
}

p {
  font-family: 'Open Sans';
  line-height: 140%;
}

.article-body {
  padding: 20px 50px;
}

.article-body img {
  max-width: 100%;
}

/*-------------
Header
--------------*/
.site-header {
  width: 100%;
  background: #00B7AB;
}

.icon-menu {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.site-header h1 {
  text-align: center;
  margin: 0px auto;
  padding: 20px 50px;
}

.site-header p {
  text-align: center;
  margin: 0px auto;
}

/*-------------
Navigation
--------------*/

.site-header ul {
  display: none;
  padding: 20px;
  list-style: none;
  text-align: center;
}

.main-nav:hover ul {
  display: block;
}

/*-------------
Footer
--------------*/

.site-footer {
  margin: 0px auto;
}

.social-list ul {
  margin: 0px auto;
}

.social-list li {
  margin: 10px auto;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

/*-------------
Link Styles
--------------*/
a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}