/*-------------
Navigation
--------------*/
.site-header ul {
  display: none;
  padding: 20px;
  list-style: none;
  text-align: center;
}

.main-nav:hover ul {
  display: block;
}

.site-header li {
  line-height: 140%;
  font-family: 'Arvo';
  font-size: 20px;
  border-bottom: 1px dashed #ccc;
}

/*-------------
Blog
--------------*/
/*removes original blog template; only new posts*/
.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

/*-------------
Media Queries
--------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) {
    .article-body img {
        display: block;
        width: 90%
    }
}

@media only screen and (min-width: 768px) {
    .main-nav ul {
        display: block;
    }
    .icon-menu {
        display: none;
    }
    .main-nav ul li {
        display: inline-block;
        padding: 0px 20px;
    }
    .article-body img {
        margin: 10px auto;
        display: inline-block;
        width: 45%;
    }
}

@media only screen and (min-width: 800px) {
    .main-nav h1 {
          padding: 20px 90px; 
    }
}